body {
    /* max-width: 1440px; */
    margin: 0;
    padding: 0;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.btn-primary{
    font-size: 16;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    

}

/* hero section */
header {
    background-image: url("../Assets/Hero-bg.png");
    /* background-size: cover; */
    background-position: center;
}
.logo {
font-size: 34px;
}
nav {
    padding: 50px 150px;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    display: block;
    margin: auto;
    padding: 309px 267.5px 237px 267.5px;
}

.hero-title {
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
}

/* action - section  */
.action-section {
    display: flex;
    /* justify-content: space-between; */
    gap: 623px;
    padding: 150px 150px;
    background-color: #FFFFFF;
}

.action-left {
    padding: 62px 0;
}

.action-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #252432;
    font-size: 42px;
}

.action-desc {
    font-family: "Raleway", sans-serif;
    font-weight: regular;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.action-right {
    width: 403px;
    height: 328px;
    border: none;
    border-radius: 48px;
}


/* productive-users-section */
.productive-users {
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0 159px 0 141px;
    padding: 50px 142px;
    text-align: center;
    border-radius: 24px;
}

.p-u-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}

.p-u-numbers {
    display: flex;
    justify-content: space-between;
}

.numbers {
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.caption {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: regular;
    margin: 0;
    padding: 0;
}


/* contact */
.contact {
    display: flex;
    padding: 92.3px 150px 14px;
    /* justify-content: space-between; */
    gap: 150px;
}

.contact-title {
    color: rgba(0, 0, 0,);
    font-family: "Raleway", sans-serif;
    font-size: 97px;
    font-weight: bold;
    width: 528px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 71px 0;
}

.contact-form label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: medium;
}

.contact-form input {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: regular;
    width: 497px;
    height: 70px;
    padding-top: 20px;
    padding-left: 32px;
}

.contact-form textarea {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: regular;
    width: 497px;
    height: 135px;
    padding-top: 20px;
    padding-left: 32px;
}



/* footer-section */